<div class="container">
	<div class="col-xs-12 page-title">
        <h1>Question #{{ vm.question.id }}</h1>
        <div class="btn-group pull-right">
            <a type="button" class="btn btn-primary" href="#/question/">
                <i class="fa fa-th-list" aria-hidden="true"></i> List
            </a>
            <a type="button" class="btn btn-default" href="#/question/edit/{{ vm.question.id }}">
                <i class="fa fa-th-list" aria-hidden="true"></i> Edit
            </a>
            <a type="button" class="btn btn-warning" ng-click="vm.removeQuestion(vm.question, $event)">
                <i class="fa fa-th-list" aria-hidden="true"></i> Remove
            </a>
        </div>
	</div>
    <div class="col-xs-12">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ vm.question.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ vm.question.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ vm.question.description }}</td>
                </tr>
                <tr>
                    <th>Dimension</th>
                    <td>{{ vm.question.dimension.name }}</td>
                </tr>
                <tr ng-show="vm.question.child.name">
                    <th>Question</th>
                    <td>{{ vm.question.child.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>