<div class="container">
	<div class="page-title">
        <h1>Question</h1>
        <button type="button" class="btn btn-success" ng-click="vm.new($event)">
            <i class="fa fa-plus" aria-hidden="true"></i> Novo
        </button>
	</div>
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Title</th>
                    <th>Dimension</th>
                    <th>Has child</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="question in vm.questions track by question.id">
                    <td>{{ question.id }}</td>
                    <td>{{ question.name }}</td>
                    <td>{{ question.dimension.name }}</td>
                    <td>{{ question.child ? 'Yes' : 'No' }}</td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>