<div id="dashboard" class="container">
	<div class="col-xs-12 page-title">
		<h1>Audit ({{ vm.audit.auditee.name }}) <small>#{{ vm.audit.hash }}</small></h1>
        <a type="button" class="btn btn-default pull-right" ng-click="vm.canFinish() && vm.finish(vm.audit.hash, $event)" ng-disabled="!vm.canFinish()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Finish it
        </a>
        <p
            ng-show="vm.notification"
            class="notification"
            ng-class="{'notification-success': vm.notification.type === 'success', 'notification-error': vm.notification.type !== 'success'}">
            {{ vm.notification.time | date:'medium' }} - {{ vm.notification.message }}
        </p>
	</div>
    <div class="col-xs-12">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': vm.tab.dimension == item.dimension.id}" ng-repeat="item in vm.audit.dimensions"><a ng-click="vm.changeDimension(item.dimension.id)">{{ item.dimension.name }}</a></li>
        </ul>
        <form name="formName">
            <div ng-repeat="item in vm.audit.questions | filter:{question: {dimension: {id: vm.tab.dimension}}}">
                <div class="form-group col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="panel-title">{{ item.question.name }}</label>
                        </div>
                        <div class="panel-body">
                            <p>{{ item.question.description }}</p>
                            <rzslider
                                rz-slider-model="vm.audit.questions[item.question.id].answer"
                                rz-slider-options="vm.buildCustomOptions(vm.audit.hash, item.question.id)"
                            ></rzslider>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6" ng-show="item.question.child && vm.audit.questions[item.question.id].answer >= 1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <label class="panel-title">{{ item.question.child.name }}</label>
                        </div>
                        <div class="panel-body">
                            <p>{{ item.question.child.description }}</p>
                            <rzslider
                                rz-slider-model="vm.audit.questions[item.question.child.id].answer"
                                rz-slider-options="vm.buildCustomOptions(vm.audit.hash, item.question.child.id)"
                            ></rzslider>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" ng-show="vm.tab.dimension == item.dimension.id" ng-repeat="item in vm.audit.dimensions">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <label class="panel-title">Comment</label>
                    </div>
                    <div class="panel-body">
                        <textarea
                            class="form-control"
                            ng-model="vm.audit.dimensions[$index].comment"
                            ng-model-options="{debounce: 5000}"
                            ng-change="vm.saveComment(vm.audit.hash, item.dimension.id, vm.audit.dimensions[$index].comment)"
                            rows="8">
                        </textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>